@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "VT323", monospace;
}

body {
	background-color: #1b1b1b;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

canvas {
	background-image: url(../assets/bg.png);
	background-size: 100% 200%;
}

.score-container {
	position: absolute;
	top: 5%;
	left: 2%;
	font-size: 4rem;
	color: white;
}

.high-score-container {
	position: absolute;
	top: 20%;
	left: 2%;
	font-size: 4rem;
	color: white;
}

.game-overlay {
	position: absolute;
	z-index: 99;
	height: 500px;
	width: 500px;
	background-color: #29292a;
	display: flex;
	border-radius: 20px;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 0 2rem;
}
.game-overlay h1,
.score {
	font-size: 5rem;
}
.game-button {
	color: white;
	font-size: 3rem;
	background: transparent;
	outline: none;
	border: 2px solid white;
	padding: 1rem 5rem;
	cursor: pointer;
	transition: all 0.2s;
}

.game-button:hover {
	background: white;
	color: #1b1b1b;
}

.game-score,
.game-overlay .score {
	font-size: 3rem;
}

.instructions {
	font-size: 2rem;
	text-align: center;
}
